</main>   
<br>
<div class="container">
        <h3>Preguntas:</h3>
        <p>	
            ¿Qué importancia tiene AJAX en el desarrollo de RIA's (Rich Internet Applications?
        </p>	
        <p>
            Permite crear sitios dinamicos, rápidos y guardar recursos.
        </p>
        <p>
            ¿Qué implicaciones de seguridad tiene AJAX? ¿Dónde se deben hacer las validaciones de seguridad, del lado del cliente o del lado del servidor?
        </p>
        <p>
            Ajax no agrega más vulnerabilidades al sistema pero realizar mala practica de Ajax puede afectar el control de acceso de la aplicación.
            Ajax también agrega niveles de complejidad a la arquitectura del sitio.
            Las validaciones se tienen que realizar del lado del cliente.
        </p>



        <p>
            ¿Qué es JSON?
        </p>
        <p>
            JavaScript Object Notation: Es una sintaxis para almacenar e intercambiar datos en la aplicación. Es texto escrito con formato de JavaScript.
        </p>
					
</div>
<br>
   <footer class="container">
        <p>Links: </p>
        <p>
            <a class="linksPersonalizados" href="https://getbootstrap.com">https://getbootstrap.com/</a>
        </p>
        <p>
            <a class="linksPersonalizados" href="https://www.w3schools.com/jquery/ajax_ajax.asp">https://www.w3schools.com/jquery/ajax_ajax.asp</a>
        </p>
        <p>
            <a class="linksPersonalizados" href="https://informaticapc.com/tutorial-php/validar-formulario.php">https://informaticapc.com/tutorial-php/validar-formulario.phpp</a>
        </p>
       <p>
            <a class="linksPersonalizados" href="https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184">https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184</a>
       </p>
        
    </footer>
    <script type="text/javascript" src="Js/lab17.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>