<br>
<hr>
<form class="row" action="login.php" method="post">
    <p class="col-md-4">
        Nombre: <input  type="text" name="name" id="name" value="NULL">
    </p>
    <p class="col-md-4">
    Sexo: 
    <select name="sex" id="sex">
      <option value="NULL">--SEXO--</option>
      <option value="M">M</option>
      <option value="F">F</option>
    </select> 
    </p>
    <p class="col-md-4">
        Trabajo: <input type="text" name="trabajo" id="trabajo" value="NULL">
    </p>
    <p class="col-md-4"></p>
    <input class="btn btn-info col-md-4" role="button" type="submit" value="Buscar Usuario">
</form>
<br>
<hr>