</main>   
<br>
	<div>
		<p>¿Por qué es importante hacer un session_unset() y luego un session_destroy()?</p>
		<p> Session_unset() borra las variables de sesion, pero la sesion seguira activa y session_destroy() destruye la sesion activa. Es necesario usar las dos para saber cuantas personas han iniciado sesion en nuestro sistema y para que haya un reset de todas las variables.</p>
		<p>¿Cuál es la diferencia entre una variable de sesión y una cookie?</p>
		<p> Las cookies son archivos temporales que guardan informacion de la pagina y se guardan en tu computadora, de tal forma que si tu te creas una cookie con una pagina y luego te sales y vuelves a meterte seguira esa informacion. En cambio si utilizas una sesion, la informacion que tienes "guardada" al salir de esa pagina se borra y no la puedes recuperar.</p>
		<p>¿Qué técnicas se utilizan en sitios como facebook para que el usuario no sobreescriba sus fotos en el sistema de archivos cuando sube una foto con el mismo nombre?</p>
		<p> Guardar el time Stamp y el nombre de la imagen como llave primaria compuesta</p>
		<p>¿Qué es CSRF y cómo puede prevenirse?</p>
		<p></p>
	</div>
   <footer class="container">
        <p>Links: </p>
        <p>
            <a class="linksPersonalizados" href="https://getbootstrap.com">https://getbootstrap.com/</a>
        </p>
        <p>
            <a class="linksPersonalizados" href="http://php.net/manual/en/function.count.php">http://php.net/manual/en/function.count.php</a>
        </p>
        <p>
            <a class="linksPersonalizados" href="https://informaticapc.com/tutorial-php/validar-formulario.php">https://informaticapc.com/tutorial-php/validar-formulario.phpp</a>
        </p>
       <p>
            <a class="linksPersonalizados" href="https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184">https://medium.com/@jpmorris/how-to-prevent-xss-attacks-by-escaping-output-in-php-942204bf184</a>
       </p>
        
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>