#tabla1
{
    background-color: coral;
    border: 2px solid black;
    text-align: center;
    color: bisque;
    width: 40%;
}
td
{
   width: 33%; 
   border: 2px solid black;
}
.god
{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left ;
    background-color: aqua;
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}
.god a
{
    text-decoration: none;
}
#escr
{
    font-size: 20pt;
}
body
{
    background-color: purple;
    color: antiquewhite;
    text-align: center;
}