body
{
    margin-top: 20pt;
    margin-bottom: 40pt;
    background: lavenderblush;
}
h1
{
    font-family: fantasy;
    color: dimgray;
}
footer
{
    padding-top: 20pt;
    padding-bottom: 20pt;
}
#imagRS
{
    width: 100%;
    align-items: center;
}
.linksPersonalizados 
{
    text-decoration: none;
    color: black;
}
.linksPersonalizados a:hover
{
    text-decoration: underline;
    color: darkgreen;
}
#imagenPerfil
{
    width: 200px;
    height: 200px;
}